/* Over here you will find:
  - 1) CSS Reset
  - 2) Custom Fonts
  - 3) Root-Variables
  - 4) Global classes 
*/

/* === 1) Small CSS Reset === */

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* 2) Custom Fonts von GOOGLE */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

/* @font-face {
  font-family: 'myFirstFont';
  src: url('../theme/fonts/SF_Shai_Fontai_Extended-webfont.woff');
  font-weight: normal;
  font-style: normal;
} */


/* -------- 3) CSS Variablen --------- */

:root {
  /* Themed colors https://coolors.co/ */
  --background: #595d61;
  --font-light: #aaa;
  --font-superlight: rgb(209, 209, 209);
  --font-heavy: #4b4c4d;
  --btn-yellow: linear-gradient(120deg, #ffdd00 0%, #ffffff 110%);
  --text-yellow: #ddc700;
  --form: linear-gradient(130deg, # )
  /* Gradient color https://webgradients.com/ */
  
  /* Themed fonts (used in this blog) */
  --logo: 'Permanent Marker', cursive;
  /* For logo */
  --linksnbtn: 'Abel', cursive;
  /* For Links and Buttons */
  --textntitles: 'Nunito', sans-serif;
  /* For Text and Titles */
}
/* ----x---- CSS Variablen ----x---- */


/* --------- 4) Globale Klassen --------- */

body {
  width: 100%;
  /* To eliminate horizontal scrollbar */
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
	background: #222;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
}

textarea {
  font-family: 'Segoe UI', sans-serif;
}

button.btn {
  padding: 0.4em 1.5em;
  background: var(--btn-yellow);
  border: 0.5px solid black;
  border-radius: 5px;
  display: inline-block;
  transition: all 300ms ease-in-out;
}

button.btn:hover {
  transform: scale(1.1);
}

button.btn a {
  color: black;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  font-weight: 500; 
}

/* Spezialbutton fürs Adressformular */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

button.btn.adresse {
  border: 0.5px solid var(--font-light);
  margin: 30px 0;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  width: 90%;
}



/* --x------ Globale Klassen ------x-- */













/* ----x---- Globale Klassen ----x---- */