/* Over here you will find:
  - 1) CSS Reset
  - 2) Custom Fonts
  - 3) Root-Variables
  - 4) Global classes 
*/

/* === 1) Small CSS Reset === */

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* 2) Custom Fonts von GOOGLE */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

/* @font-face {
  font-family: 'myFirstFont';
  src: url('../theme/fonts/SF_Shai_Fontai_Extended-webfont.woff');
  font-weight: normal;
  font-style: normal;
} */


/* -------- 3) CSS Variablen --------- */

:root {
  /* Themed colors https://coolors.co/ */
  --background: #595d61;
  --font-light: #aaa;
  --font-superlight: rgb(209, 209, 209);
  --font-heavy: #4b4c4d;
  --btn-yellow: linear-gradient(120deg, #ffdd00 0%, #ffffff 110%);
  --btn-red: linear-gradient(120deg, #ff0000 0%, #ffffff 110%);
  --btn-green: linear-gradient(120deg, #00ff33 0%, #ffffff 110%);
  --text-yellow: #ddc700;
  --table: #f8e432;
  --form: linear-gradient(130deg, # )
  /* Gradient color https://webgradients.com/ */
  
  /* Themed fonts (used in this blog) */
  --logo: 'Permanent Marker', cursive;
  /* For logo */
  --linksnbtn: 'Abel', cursive;
  /* For Links and Buttons */
  --textntitles: 'Nunito', sans-serif;
  /* For Text and Titles */
}
/* ----x---- CSS Variablen ----x---- */


/* --------- 4) Globale Klassen --------- */

body {
  width: 100%;
  /* To eliminate horizontal scrollbar */
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
	background: #222;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
}

textarea {
  font-family: 'Segoe UI', sans-serif;
}

button.btn {
  padding: 0.4em 1.5em;
  background: var(--btn-yellow);
  border: 0.5px solid black;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
}

button.btn:hover {
  transform: scale(1.1);
}

button.btn.login {
  margin-top: 15px;
}

/* menu.php Adresseingabe */
button.adressbutton {
  padding: 0.4em 3.5em;
  background: var(--btn-yellow);
  border: 0.5px solid black;
  border-radius: 5px;
  color: black;
  display: inline-block;
  text-decoration: none;
  border: 0.5px solid var(--font-light);
  margin: 30px 0;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}

/* menu.php Ort lokalisieren */
button.suchbutton {
  padding: 0.4em 5.5em;
  background: var(--btn-yellow);
  border: 0.5px solid black;
  border-radius: 5px;
  color: black;
  display: inline-block;
  text-decoration: none;
  border: 0.5px solid var(--font-light);
  margin: 30px 0;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}

/* menu_bearbeiten.php */
button.deleter {
  padding: 0.4em 1.5em;
  background: var(--btn-red);
  border: 0.5px solid black;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
}

/* menu_bearbeiten.php */
button.updater {
  padding: 0.4em 1.5em;
  background: var(--btn-green);
  border: 0.5px solid black;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
}

button.deleter:hover, button.updater:hover, 
button.adressbutton:hover, button.suchbutton:hover {
  transform: scale(1.1);
}


/* Spezialbutton fürs Adressformular */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.image-container-logo {
  margin:16px 0 14px 8px;
  background-size: cover;
}

.image-container img {
  opacity: 0.6;
}

.emptyspace {
  height: 20rem;
  width: 100%;
  background-color: var(--font-light);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 55px;
}

/* Fehlermeldungen */
.errormessage {
  height: 2.5rem;
  width: 100%;
  background-color: rgb(238, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.errortext, .successtext {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/* Erfolgsmeldungen */
.successmessage {
  height: 2.5rem;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.begleittext {
  margin-top: 15px;
}

/* Bekannt aus api.js */
.list-group {
  list-style: none;
  margin: 5px 0;
}

/* Bekannt aus api.js */
#formatted-address {
  color: green;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
  font-weight: 500;  
}

/* Bekannt aus api.js */
#address-components {
  color: blue;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/* Bekannt aus api.js */
#geometry {
  color: red;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  font-weight: 500;
}



/* --x------ Globale Klassen ------x-- */













/* ----x---- Globale Klassen ----x---- */